<footer class="bg-secondary-subtle p-2 border-top border-bottom border-1 border-black mt-2">
  <div class="d-flex flex-row gap-2">
    <div>
      <img src="assets/images/pirforos.png" width="50" height="auto" alt="NTUA">
    </div>
    <div class="d-flex flex-column">
      <span class="fw-semibold">Εθνικό Μετσόβιο Πολυτεχνείο</span>
      <span class="small">
        <a href="http://dtclab.civil.ntua.gr" target="_blank" rel="noreferrer noopener" class="govgr-link text-truncate">
          Εργαστήριο Ψηφιακής Τεχνολογίας για Τεχνικά Έργα
        </a>
      </span>
    </div>
  </div>
  
  
</footer>

