<div class="vh-100 d-flex flex-column">
  <div class="mb-2">
    <app-sidebar></app-sidebar>
  </div>
  <div class="flex-grow-1 bg-body-secondary border border-success">
    <ngt-canvas
      class="w-100 h-100" 
      shadows
      [camera]="{ position: [5, 5, 5] }" 
      [lookAt]="[0, 1, 0]">
      <app-scene-graph *canvasContent />
    </ngt-canvas>
    <!-- <ngt-mesh #mesh [position]="[0, 1, 0]">
      <ngt-box-geometry *args="[1, 2, 1]" />
      <ngt-mesh-basic-material color="mediumpurple" />
    </ngt-mesh> -->
  </div>
</div>
