<!-- <ngt-ambient-light [intensity]="0.5" />
<ngt-spot-light 
  [position]="[5, 10, -10]" 
  [intensity]="0.5 * Math.PI" 
  [angle]="0.5" 
  [penumbra]="1" 
  [decay]="0" 
  castShadow
/>
<ngt-point-light 
  [position]="-10" 
  [intensity]="0.5 * Math.PI" 
  [decay]="0" 
/>
<ngt-mesh [rotation]="[-Math.PI / 2, 0, 0]" receiveShadow>
  <ngt-circle-geometry *args="[4, 40]" />
  <ngt-mesh-standard-material />
</ngt-mesh>
<app-cube [positionX]="-2" />
<app-cube [positionX]="2" /> -->
<!-- <ngts-center  
  [options]="{
    disableX: false,
    disableY: false,
    disableZ: false
  }">
  <ngt-primitive *args="[gltf.scene()]" [parameters]="{ scale: 0.15 }" />
</ngts-center> -->
<!-- GLB -->

@if (glbUrl()) {
  @let gltfData = gltf;

  @if (gltfData) {
    <ngts-center
      [options]="{
        disableX: false,
        disableY: false,
        disableZ: false
      }">
      <ngt-primitive *args="[gltf.scene()]"  [parameters]="{ scale: 0.15 }" />
    </ngts-center>
  }
}

@if (showStl) {
  <ngts-center 
    [options]="{
      disableX: false,
      disableY: false,
      disableZ: false
    }">
    <!-- <ngt-primitive [object]="object" /> -->
     <ngt-primitive *args="[gltf2.scene()]"  [parameters]="{ scale: 0.15 }" />
     
  </ngts-center>
}

<ngts-environment [options]="{ preset: 'city' }" />
<ngts-camera-controls />